.home {
    // background-image: url("../../../public/image/home-background.png");
    // background-position: top;
    // background-size: cover; 
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/image/home-background.png") no-repeat 0% 20%/ cover;
    background-image: linear-gradient(45deg, rgba(175, 197, 228, .5), transparent);
    
    &-welcome {
        display: flex;
        text-align: center;
        padding: 50px;
    }
    &-basic {
        height: 100vh;
    }
    &-self-intro {
        flex: 2;
    }
    &-avatar {
        border-radius: 10px;
        flex: 1 1 30%;
        margin-left: 50px;
        img {
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
        }
    }
    &-timeline {
        position: relative;
    }
    &-portfolio-img {
        margin: 0 20px;
        max-width: 300px;
        width: 90%;
    }
    &-footer {

    }
}