.home {
    &-welcome {
        padding: 50px;
        display: flex;
        text-align: center;
        max-width: 980px;
        margin: auto;
        gap: 10vw
    }
    &-avatar {
        flex: 1 1 50%;
        img {
            width: 300px;
            border-radius: 50%;
        }
    }

    &-personal-card {

    }
    &-basic {
        height: 100vh;
    }
    &-self-intro {
        flex: 2;
    }
    
    &-timeline {
        position: relative;
    }
    &-portfolio {
        display: flex;
        align-items: center;
        padding: 0 30px;
        &-left {

        }
        &-img {
            margin: 0 20px;
            max-width: 300px;
            width: 90%;
        }
    }
    &-blog {
        padding: 30px;
        display: flex;
        gap: 5%;
        &-item {
            width: 30%;
            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
    &-footer {

    }
}

.home-personal-card {
    background-color: var(--secondary-color);
    width: 28rem;
    height: 15rem;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 9px #ddd;
    &:after {
        position: absolute;
        display: block;
        content: "";
        width: 0.8rem;
        height: 100%;
        top: 0;
        background-color: var(--primary-color);
        right: 0px;
        border-radius: 0 0.5rem 0.5rem 0;
    }
    .personal-card-contact {
        position: relative;
        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 0.2rem;
            height: 100%;
            top: 0;
            background-color: var(--grey-light1);
        }
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
            border-left: 0.6rem solid var(--grey-light1);
            top: 50%;
            transform: translate(30%, -50%);
        }
        svg {
            color: var(--primary-color);
        }
    }

}