
:root {
    --primary-color: rgb(124,103,180);
    --secondary-color: #f1f1f1;
    --text-color: rgb(56,71,83);
}

.root-dark {
    /* 深色主题 */
    --primary-color: #4a76a8;
    --secondary-color: #e0e0e0;
}

body.light {
    background-color: #fff;
}
body.dark {
    background-color: black;
}


.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms; /* 与timeout匹配 */
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}