
body {
    color: var(--text-color);
}

p {
    margin: 0;
}

.w-50 {
    width: 50px;
}


.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms; /* 与timeout匹配 */
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}