:root {
    --bg-color: #fff;
    --text-color: #000;
    --grey: rgb(156 163 175);
    --grey-light1: rgb(209 213 219);
    --grey-light2: rgb(229 231 235);
    
    --primary-color: #3f72af;
    --secondary-color: #F4EAEA;
    --font-family: "Playwrite US Modern", cursive;
}
[data-theme='dark'] {
    --bg-color: #000;
    --text-color: #fff;
}
[data-language='CH'] {
    --font-family: "ZCOOL KuaiLe", sans-serif;
}